body{
    background-color: #dddddd;
    color: black;
    font-size: 18px;

}
h1{
    font-size: 42px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.card-title{
    color:#fff;
    text-align: center;
}
.card{
    margin: 3px;
    
}
